flask==3.1.0
requests==2.32.3
pillow==11.2.1
torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0
pandas==2.2.3
scikit-learn==1.6.1
openai==1.77.0
google-cloud-vision==3.10.1
google-auth==2.39.0
google-api-core==2.24.2
google-api-python-client==2.169.0
grpcio==1.72.0rc1
protobuf==6.31.0rc2
firebase-admin==6.8.0
transformers==4.51.3
timm==1.0.15
kornia==0.8.0
matplotlib==3.10.1
seaborn==0.13.2
